@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400|Abril+Fatface:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/slots-bg.jpg") center/cover fixed no-repeat;
  font-family: "Crimson Text", serif;
  --main-color: #ffa500;
}

.container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: 4rem 1fr 4.5rem;
  justify-content: center;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  color: var(--main-color);
}

header img {
  width: 5rem;
  height: 3rem;
}
/* logo design url: logomakr.com/app/33ypEA */

/* SLOT ROWS */
.slot-rows-container {
  position: relative;
  overflow: hidden;
  min-width: 100vw;
  min-height: 70vh;
  display: grid;
  place-items: center;
}

.slot-row {
  display: flex;
  width: 100%;
  height: 33%;
  justify-content: center;
  align-items: center;
}

/* las filas 0 ,4 y 5 no se muestran */
/* la fila 5 fue agregada porque al girar cada 300ms se podía ver la cuarta fila yendo hacía arriba antes de ponerse visibility: hidden */
.position0,
.position1,
.position5,
.position6 {
  visibility: hidden;
}

.position0,
.position1,
.position2,
.position3,
.position4,
.position5,
.position6 {
  position: absolute;
  top: 0;
  /* left: 0; */
  transition: all 0.4s ease;
}

/* al cambiar de posición cada fila se va moviendo hacia abajo hasta volver a la posición 0 */
.position0 {
  transform: translateY(-200%);
}
.position1 {
  transform: translateY(-100%);
}
.position2 {
  transform: translateY(0);
}
.position3 {
  transform: translateY(100%);
}

.position4 {
  transform: translateY(200%);
}
.position5 {
  transform: translateY(300%);
}
.position6 {
  transform: translateY(400%);
}

.bg1 {
  background: rgba(138, 43, 226, 0.3);
}
.bg2 {
  background: rgba(34, 153, 248, 0.3);
}

.bg3 {
  background: rgba(0, 0, 255, 0.3);
}
.bg4 {
  background: rgba(0, 255, 255, 0.3);
}

.icon-container {
  display: grid;
  place-items: center;
  margin: 0 0.5rem;
}

.icon {
  width: 4.7rem;
  height: 4.7rem;
}

.html5 {
  color: #ffa500;
}

.css3 {
  color: #2299f8;
}

.bootstrap {
  color: blueviolet;
}

.react {
  color: #00ffff;
}

/* CONTROLS */

.controls-container {
  width: 100vw;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  font-family: inherit;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: transparent;
}

.btn:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn:active {
  color: rgb(193, 126, 0);
  border-color: rgb(193, 126, 0);
}

.info {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border: transparent;
}
.rules {
  border: solid 2px white;
  display: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}

.balance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.balance-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-container label {
  color: var(--main-color);
}
.balance-container span {
  color: white;
  margin-left: 0.3rem;
}
.balance-container input {
  color: white;
  background: transparent;
  width: 3.2rem;
  outline: none;
}

.msg {
  text-align: center;
  display: none;
  color: white;
  width: 13rem;
}

.short-msg {
  font-size: 1.5rem;
}

.long-msg {
  font-size: 1rem;
}

.difficulty-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}

.difficulty-container p {
  color: white;
}

.difficulty-btn {
  width: 3rem;
  border: solid 1px white;
  border-radius: 0.5rem;
  padding: 0 0.1rem;
}

.spin-btn {
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.play {
  display: none;
}

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 1;
}
.modal {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

.rules-container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--main-color);
}

.rules-container h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.rules-container ul {
  margin-bottom: 1.5rem;
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
}

.rules-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
}

.modal-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  transition: all;
  color: var(--main-color);
  background: transparent;
  cursor: pointer;
  border: transparent;
}

@media screen and (min-width: 375px) {
  /* se agregan dos colores con alpha 0 para que el color quede en el medio y se desvanezca hacia los costados */
  .bg1 {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(138, 43, 226, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .bg2 {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(34, 153, 248, 0.5),
      rgba(0, 0, 0, 0)
    );
  }

  .bg3 {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 255, 255, 0.4),
      rgba(0, 0, 0, 0)
    );
  }
  .bg4 {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 255, 0.4),
      rgba(0, 0, 0, 0)
    );
  }

  /* a partir de este punto se va haciendo el ancho de slot-row cada vez más chico para que el linear-gradient quede en el medio y no a lo largo de la pantalla */
  .slot-row {
    width: 95%;
  }
}
@media screen and (min-width: 450px) {
  .play {
    display: block;
  }
  .spin-btn {
    font-size: 1.7rem;
  }

  .rules-container {
    width: 70%;
  }

  .info {
    font-size: 1.7rem;
  }

  .slot-row {
    width: 90%;
  }
}

@media screen and (min-width: 550px) {
  .rules {
    display: block;
  }
  .info {
    display: none;
  }

  .slot-row {
    width: 75%;
  }
}
@media screen and (min-width: 650px) {
  .msg {
    display: block;
  }
  .rules {
    display: block;
  }
  .info {
    display: none;
  }

  .icon-container {
    margin: 0 0.6rem;
  }

  .icon {
    width: 5.5rem;
    height: 5.5rem;
  }

  .modal {
    width: 90vw;
    height: 90vh;
    border-radius: 2rem;
  }

  .rules-container {
    width: 80%;
    height: 80%;
  }

  .slot-row {
    width: 65%;
  }
}

@media screen and (min-width: 800px) {
  .slot-row {
    width: 60%;
  }
}

@media screen and (min-width: 950px) {
  .title {
    font-size: 3rem;
  }

  header img {
    width: 6rem;
    height: 4rem;
  }

  .balance-container label {
    font-size: 1.2rem;
  }

  .difficulty-container {
    width: 7rem;
    font-size: 1.1rem;
  }

  .difficulty-btn {
    width: 3.5rem;
    padding: 0.2rem 0.4rem;
  }

  .rules {
    font-size: 1.3rem;
  }

  .icon-container {
    margin: 0 1rem;
  }

  .icon {
    width: 6.5rem;
    height: 6.5rem;
  }

  .modal {
    width: 70vw;
    height: 80vh;
  }

  .slot-row {
    width: 55%;
  }
}

@media screen and (min-width: 1150px) {
  .controls-container {
    max-width: 90vw;
  }
  .modal {
    width: 60vw;
  }

  .slot-row {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .controls-container {
    max-width: 80vw;
  }
}
